@model AgilePoker.Models.Room
@{
    ViewBag.Title = "Room";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<h1>@Model.PokerRoom.Name</h1>
    
<!-- TODO: POpupate dropdown from Deck, display card based on selected value, etc. -->




